#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}

.chat-header__column span {
    padding-left: 20px;
}

#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}